// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// - White: hsl(0, 0%, 100%)
// - Light gray: hsl(212, 45%, 89%)
// - Grayish blue: hsl(220, 15%, 55%)
// - Dark blue: hsl(218, 44%, 22%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 15px
 
// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 400, 700

@font-face {
    font-family: "outfit";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("../fonts/outfit-v4-latin-regular.woff") format("woff"),
    url("../fonts/outfit-v4-latin-regular.woff2") format("woff2");
}
@font-face {
    font-family: "outfit";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: local(""),
    url('../fonts/outfit-v4-latin-700.woff') format("woff"),
    url('../fonts/outfit-v4-latin-700.woff2') format("woff2");
}


:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}


body{
    font-family: outfit, sans-serif;
    font-size: 1.5rem;
    background-color: var(--Light-gray);
}


.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    width: 30rem;
    background-color: var(--White);
    box-shadow: 0.8rem 1.4rem .7rem 0rem rgba(0,0,0,0.20);
    display: grid;
}

.qr-code{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
.img{
    border-radius: 1rem;
}

.title{
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}
.text{
    color: var(--Dark-blue);
    opacity: 0.5;
    text-align: center;
}

.card__item{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}